{
    "Welcome": "Bem-vindo/a %s. Qual o seu interesse em programação? Divirta-se!\nEnvie um pequeno resumo sobre você para quebrarmos o gelo com a turma por cá!",
    "Rules": "Regras:\n\n1-Proibido Pirataria ou incentivo a Pirataria.\n2-Tolerância ZERO com SPAM (banimento imediato)\n3-Respeite os participantes do grupo.\n4-Pense antes de postar.\n5-Divirta-se.",
    "ReadTheRules": "Leia as Regras",
    "VisitOurGroupWebsite": "Visite o site do Grupo",
    "URL": "https://osprogramadores.com",
    "LocationSuccess": "Localização atualizada com sucesso.",
    "LocationFail": "Houve um imprevisto tentando atualizar a localização. Por favor, tente novamente mais tarde."
}
