# Configuration parameters for the op-bot.
# See config.go for latest information.

# Telegram bot api. The bot will *not* work without a proper API key.
token = "<telegram_api_token>"

# TCP server port for the location server. The mapping application will
# dial back to the bot on this port to get coordinates. Make sure no other
# service on this machine is listening on this port.
server_port = 3000

# LocationKey contains an alphanum key used to scramble the user IDs when
# storing the location. It can be anything (but not blank).
location_key = ""

# Delete forwarded messages. Setting this will cause the bot to summarily
# remove all forwarded messages (a common source of spam). Please note that in
# regular groups messages already delivered won't be removed.
delete_fwd = true

# Kick other bots from the channel at join time.
kick_bots = true

# Bots in this whitelist won't be automatically kicked.
bot_whitelist = [ "friendlybot", "myottherbot" ]

# Restrict new users from posting non-text messages (for a hardcoded number of hours).
restrict_new_users = true

# Language defines the language to be used for all messages in the bot.
# (internal debug messages may still be in English). Format is:
# <language>-<country>. Default = "en-us"
Language = "en-us"
